Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
BinPackParameters: false
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 110
IndentWidth: 4
NamespaceIndentation: All
CompactNamespaces: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes 
# Enum formatting
ContinuationIndentWidth: 4
IndentCaseLabels: true

AllowShortEnumsOnASingleLine: false
IndentAccessModifiers: true         
BraceWrapping:
  AfterFunction: true
