<!DOCTYPE html>
<html>
  <head>
    <title>System Information</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto m-8">
        <h1 class="text-3xl mb-2 text-gray-700">System Information</h1>
        <p class="bg-white shadow-md rounded p-4"><strong>CPU Info:</strong> {{cpuInfo}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>OS:</strong> {{osInfo}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>OS Version:</strong> {{osVersion}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>Hostname:</strong> {{hostname}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>Memory:</strong> {{memory}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>CPU Count:</strong> {{cpuCount}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>Physical CPU Cores:</strong> {{cpuCores}}</p>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>Logical CPU Threads:</strong> {{cpuThreads}}</p>
        <div class="bg-white shadow-md rounded p-4 mt-2">
          <p><strong>Disk:</strong></p>
          {{{disk}}}
        </div>
        <p class="bg-white shadow-md rounded p-4 mt-2"><strong>Uptime:</strong> {{uptime}}</p>
        <div class="bg-white shadow-md rounded p-4 mt-2">
          <p><strong>CPU:</strong><p id="cpu">{{cpuUsage}}</p></p>
        </div>
        <div class="bg-white shadow-md rounded p-4 mt-2">
          <p><strong>Memory Usage:</strong><p id="memory">{{memoryUsage}}</p></p>
        </div>
        <div class="bg-white shadow-md rounded p-4 mt-2">
          <p><strong>Disk Usage:</strong><p id="disk">{{diskUsage}}</p></p>
        </div>
        <div class="bg-white shadow-md rounded p-4 mt-2">
          <p><strong>Network:</strong><p id="network">{{networkUsage}}</p></p>
        </div>
    </div>
    <script>
      function updateStats() {
        fetch('/stats', {
          method: 'POST',
          headers: {
            'Content-Type': 'text/plain'
          },
        })
        .then(response => response.json())
        .then(data => {
          if(data) {
            document.getElementById('cpu').innerHTML = data.cpuUsage;
            document.getElementById('memory').innerHTML = data.memoryUsage;
            document.getElementById('disk').innerHTML = data.diskUsage;
            document.getElementById('network').innerHTML = data.networkUsage;
          } else {
            console.log("no data");
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
      setInterval(updateStats, 20000);
    </script>
  </body>
</html>
