<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
      <form id="myForm" action="/send" method="POST">
        <div class="form-group">
          <label for="URL">Add Endpoint:</label>
          <input type="text" class="form-control" id="URL" name="URL">
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
      </form> 
      <div id="result" class="mt-3">
        <!-- Traceroute results will be displayed here -->
      </div>
    </div>

    <script>
      document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const URL = document.getElementById('URL').value;
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.disabled = true;

        fetch('/send', {
          method: 'POST',
          headers: {
            'Content-Type': 'text/plain'
          },
          body: URL
        })
        .then(response => {
          if(response.status === 202) {
            function checkForResult() {
              fetch('/result')
                .then(response => response.text())
                .then(data => {
                  if(!data.startsWith("Traceroute result is still pending...")) {
                    document.getElementById('result').innerHTML = data;
                    submitBtn.disabled = false;
                  } else {
                    setTimeout(checkForResult, 5000); // Check again after some time
                  }
                })
                .catch(error => {
                    console.error('Error:', error);
                    submitBtn.disabled = false;
                });
            }
            checkForResult();
          }
        })
        .catch(error => {
          console.error('Error:', error);
          submitBtn.disabled = false;
        });
      });
    </script>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
